.app {
	display: flex;
	height: 100vh;

	&__components {
		width: calc(100% - 300px);
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding-top: 50px;
		background: #f8f8f8;
	}
}
