.app-nav {
	width: 300px;
	border-right: 1px solid #ccc;
	background: #ecf0f1;

	&__title {
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		border-bottom: 1px solid #ccc;
		margin: 0;
		padding: 20px 0;
		text-transform: uppercase;
		font-weight: bold;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		a {
			color: #333;
			text-decoration: none;
			font-size: 16px;
			padding: 15px 20px;
			display: block;
			text-align: left;
			border-bottom: 1px solid #ccc;

			&.active {
				color: #3498db;
				background: rgba(0,0,0,.05);
			}

			&:active {
				box-shadow: inset 0 0 8px rgba(0,0,0,.1);
				background: rgba(0,0,0,.05);
			}

			&:hover {
				background: rgba(0,0,0,.05);
			}
		}
	}
}
