.tooltip {
	position: relative;
	width: 200px;

	&__toggle {
		cursor: pointer;
	}

	&__content {
		position: absolute;
		width: auto;
		left: -5px;
		top: 30px;
		font-size: 12px;
		min-width: 80px;
		background: #34495e;
		padding: 10px;
		color: #fff;
		border-radius: 5px;

		&:before {
			content: '';
			position: absolute;
			left: 10px;
			top: -5px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid #34495e;
		}
	}

	&__container {
		display: flex;
		justify-content: flex-start;
	}

	&--open {
		.tooltip__toggle {
			color: #3498db;
		}
	}

	&--hover {
		.tooltip__content {
			display: none;
		}

		.tooltip__toggle:hover {
			color: #3498db;

			+ .tooltip__content {
				display: block;
			}
		}
	}
}
